<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
                <portfolio>
                    <general>
                        <enabled>1</enabled>
                        <page_title></page_title>
                    </general> 
                    <seo_metadata>
                        <description></description>
                        <keywords></keywords>
                    </seo_metadata>
                </portfolio>
    </default>
</config>